<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bridging for Tomorrow</title>
    <script type="text/javascript" th:src="@{/js/main.js}" src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="/css/main.css"/>
</head>
<body>
<div>
    <h1>Bridging for Tomorrow</h1>
</div>

<h2>Login</h2>
<form name='f' th:action="@{/perform_login}" method='POST' th:object="${object}" >
    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username'></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
    </table>
    <input name="submit" type="submit" value="submit" />
</form>
</body>
</html>