<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bridging for Tomorrow</title>
  <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/js/jquery.scrollex.min.js}" src="/js/jquery.scrollex.min.js"></script>
  <script type="text/javascript" th:src="@{/js/jquery.scrolly.min.js}" src="/js/jquery.scrolly.min.js"></script>
  <script type="text/javascript" th:src="@{/js/skel.min.js}" src="/js/skel.min.js"></script>
  <script type="text/javascript" th:src="@{/js/util.js}" src="/js/util.js"></script>
  <script type="text/javascript" th:src="@{/js/main.js}" src="/js/main.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="/css/main.css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" href="/css/font-awesome.min.css"/>
</head>
<body>

  <div>
    <h1>Bridging for Tomorrow</h1>
  </div>

  <div>
    <h2>Instructions</h2>
    <h4>Create a file in excel or other spreadsheet program.</h4>
    <h4>Label rows as "First Name", "Last Name", "Grade", "School", and "Gender".</h4>
    <h4>Input data then file > save as > save as CSV.</h4>
    <h4>On the website, choose the file then click "Add Students".</h4>
    <br>
  </div>

  <div th:if="${message}">
    <h3 th:text="${message}"/>
  </div>

  <div>
    <form method="POST" enctype="multipart/form-data" action="/upload">
      <table>
        <tr><td>File to upload:</td><td><button type="button"><input type="file" name="file" /></button></td></tr>
      </table>
      <input type="submit" value="Add Students" />
      <a href="/"><button type="button">Cancel</button></a>
    </form>
  </div>

  <!--<div>
    <ul>
      <li th:each="file : ${files}">
        <span th:text="${file}" />
        <a th:href="@{__${file}__/delete}" th:text="delete" />
      </li>
    </ul>
  </div>-->

  <!--<div th:if="${files!=null and !files.empty}">
    <form method="POST" action="/addupload">
      <input type="submit" value="Add Students" />
    </form>
  </div>-->

</body>
</html>